<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label>
        <h3>Hello, <span>Guest</span></h3>
      </ion-label>
    </ion-item>

    <ion-button slot="end" color="primary" class="login" routerLink="/login">
      Login
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-item lines="none">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="7">
          <div class="container">
            <ion-card>
              <ion-list>
                <div class="table-container">
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col" width="5%">#</th>
                        <th scope="col" width="45%">Name</th>
                        <th scope="col" width="15%" class="text-center">
                          Unit Price($)
                        </th>
                        <th scope="col" width="10%" class="text-center">Qty</th>
                        <th scope="col" width="17%" class="text-center">
                          Total Amount($)
                        </th>
                        <th
                          scope="col"
                          width="10%"
                          *ngIf="showDeleteButton"
                        ></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of items; let i = index">
                        <tr>
                          <th scope="row">{{ i + 1}}</th>
                          <td>{{item.name}}</td>
                          <td class="text-center">{{item.unit_price||null}}</td>
                          <td class="text-center">{{item.quantity||null}}</td>
                          <td class="text-center">{{item.price}}</td>
                          <td *ngIf="showDeleteButton">
                            <button
                              class="btn btn-danger delete-button"
                              (click)="removeItem(i)"
                              *ngIf="showDeleteButton"
                            >
                              <ion-icon name="trash"></ion-icon>
                            </button>
                          </td>
                        </tr>
                        <!-- <ng-container
                          *ngFor="let discount of discounts"
                          *ngIf="showDiscountList"
                        >
                          <tr>
                            <th scope="row"></th>
                            <td>{{discounts.name}}</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center">${{discounts.price}}</td>
                            <td *ngIf="showDeleteButton"></td></tr
                        ></ng-container> -->
                      </ng-container>
                    </tbody>
                    <tfoot>
                      <tr *ngFor="let discount of price_discount">
                        <th scope="row"></th>
                        <td>{{discount.name||null}}</td>
                        <td></td>
                        <td></td>
                        <td class="text-center">{{discount.price||null}}</td>
                        <td *ngIf="showDeleteButton"></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </ion-list>
            </ion-card>
          </div>
        </ion-col>

        <ion-col size="5" class="right">
          <ion-row>
            <ion-col size="12">
              <ion-card class="camera">
                <div class="wrapper">
                  <video
                    #video
                    autoplay
                    muted
                    playsinline
                    hidden="ture"
                  ></video>
                  <canvas #canvas></canvas>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3"
              ><ion-row
                ><div class="image-container">
                  <ion-img src="assets/image/logo23.png"></ion-img>
                  <ion-fab vertical="bottom" horizontal="end">
                    <ion-fab-button
                      ><ion-icon
                        name="people-outline"
                      ></ion-icon></ion-fab-button
                    ><ion-fab-list side="top">
                      <ion-fab-button (click)="addBag()">
                        <ion-icon name="bag-handle-outline"></ion-icon>
                      </ion-fab-button>
                      <ion-fab-button (click)="toggleDeleteButton()">
                        <ion-icon name="create-outline"></ion-icon>
                      </ion-fab-button>
                      <ion-fab-button>
                        <ion-icon name="information-circle-outline"></ion-icon>
                      </ion-fab-button>
                    </ion-fab-list>
                  </ion-fab></div
              ></ion-row>
            </ion-col>
            <ion-col size="9">
              <ion-item>
                <ion-input
                  placeholder="Enter Product ID to add item into cart..."
                  [(ngModel)]="findID"
                ></ion-input>
                <ion-button
                  slot="end"
                  color="secondary"
                  (click)="addItemFromInput()"
                  >Add
                </ion-button>
              </ion-item>
              <ion-item
                >Number of Items<span slot="end"
                  >{{totalQuantity}}</span
                ></ion-item
              >
              <ion-item
                >Total Price<span slot="end">${{totalPrice}}</span></ion-item
              >
              <ion-item
                >Discount Amount<span slot="end"
                  >-${{totalDiscount}}</span
                ></ion-item
              >
              <ion-item
                >Balance<span slot="end">${{totalBalance}}</span></ion-item
              >
              <ion-item>
                <ion-button
                  slot="end"
                  color="secondary"
                  id="open-modal"
                  [disabled]="totalQuantity === 0"
                  >Checkout</ion-button
                ><ion-modal trigger="open-modal" [canDismiss]="canDismiss">
                  <ng-template>
                    <ion-header>
                      <ion-toolbar>
                        <ion-buttons slot="start">
                          <ion-button (click)="cancel()">Cancel</ion-button>
                        </ion-buttons>
                        <ion-title class="text-center">Cart Summary</ion-title>
                        <ion-buttons slot="end">
                          <ion-button (click)="payment()">Confirm</ion-button>
                        </ion-buttons>
                      </ion-toolbar>
                    </ion-header>
                    <ion-content class="modal-background">
                      <!-- <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th scope="col" width="40%">Name</th>
                            <th scope="col" width="17%" class="text-center">
                              Unit Price($)
                            </th>
                            <th scope="col" width="10%" class="text-center">
                              Qty
                            </th>
                            <th scope="col" width="22%" class="text-center">
                              Total Amount($)
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of items; let i = index">
                            <td>{{item.name}}</td>
                            <td class="text-center">
                              {{item.unit_price||null}}
                            </td>
                            <td class="text-center">{{item.quantity||null}}</td>
                            <td class="text-center">{{item.price}}</td>
                      </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th scope="row">Total</th>
                            <td></td>
                            <td class="text-center" style="font-weight: 900">
                              {{totalQuantity}}
                            </td>
                            <td class="text-center" style="font-weight: 900">
                              ${{totalBalance}}
                            </td>
                          </tr>
                        </tfoot>
                      </table> -->
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </ion-item></ion-col
            ></ion-row
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
