ion-list {
    background-color: #fffdea;
    height: 88vh;
    border-radius: 10px;
    margin: 5px;
  }

.imgButton {
    width:10vw;
    height:10vw;
    object-fit: cover;
}

.wrapper {
  display: flex;
  background: #ff9763;
  height: 40vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

ion-header {

    ion-toolbar, ion-item {
      --background: #ff9763;
      background: #ff9763;
      color: white;
      padding: 0 10px;
    }
  
    ion-item {
      h3 {
        font-weight: 700;
        font-size: 14px;
      }

    }
  
  }
  
  ion-content {
    --background: linear-gradient(90deg, rgba(255, 151, 99,1) 0%, rgba(255, 151, 99,1) 35%, rgba(255, 151, 99,1) 100%);

    .container {
  
      ion-item {
        --background: #fffdea;
        padding:0px, 10px;
        color: #000000;
        font-weight: 600;
  
        ion-label {
          padding: 6px 0;
        }
  
      }

  
    }
  
  }