ion-header {
  ion-toolbar,
  ion-item {
    --background: linear-gradient(
      90deg,
      rgba(243, 93, 46, 1) 0%,
      rgba(255, 160, 101, 1) 35%,
      rgba(255, 160, 101, 1) 100%
    );
    background: currentColor linear;
    color: white;
    padding: 0 10px;
  }

  ion-item {
    h3 {
      font-weight: 700;
      font-size: 18px;
      padding-left: 15px;
    }
  }

  ion-button.login {
    padding-right: 2vw;
  }
}

::ng-deep ion-content.bg {
  --background: linear-gradient(
    90deg,
    rgba(243, 93, 46, 1) 0%,
    rgba(255, 160, 101, 1) 35%,
    rgba(255, 160, 101, 1) 100%
  );
}

.modal-background {
  --background: none;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(/assets/image/backgroundLogo.png);
  background-color: white;
  background-position: center bottom;
  background-size: 80%;
  background-repeat: no-repeat;
}

ion-fab {
  position: absolute;
  bottom: -18vh;
  left: 0.5vw;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

ion-content {
  ion-item {
    --background: none;
    background: linear-gradient(rgba(255, 255, 255, 0.5));
    background-color: white;
  }

  ion-list {
    background-color: #fff2e7;
    height: 83vh;
    overflow-y: auto;
    border-radius: 10px;
  }

  .right {
    height: 83vh;
  }

  .wrapper {
    --backdrop-opacity: var(--backdrop-opacity);
    height: 42vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 14px;
  }

  ion-card {
    border-radius: 14px;
    padding: 5px;
  }

  ion-col {
    ion-img {
      position: relative;
      bottom: -19vh;
      left: -6vw;
      width: 250px;
      z-index: 1;
    }
  }

  .container {
    ion-item {
      --background: #fff2e7;
      font-weight: 600;

      ion-label {
        padding: 6px 0;
      }
    }
  }
}

.delete-button {
  position: absolute;
  right: 2vw;
  display: flex;
  align-items: center;
  padding: 3px 10px;
  border-radius: 20%;
  background-color: red;
  color: white;
  border: none;
  outline: none;
}

table {
  table-layout: fixed;
  position: absolute;
  top: 0;

  thead {
    th {
      background-color: #ffa065;
      color: #ffffff;
    }
  }

  tbody {
    td,
    th {
      background-color: #fff2e7;
    }
  }
  tfoot {
    td,
    th {
      background-color: #fff8f0;
    }
  }
}

html.swal2-shown {
  height: 100% !important;
}

ion-modal {
  --border-radius: 10px !important;
}
