<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chart List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chart List</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container ">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 ion-padding">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Best Brand</h3>
              </div>
              <div class="card-body">
                <canvas
                  baseChart
                  class="chart"
                  [data]="brandBarChartData"
                  [options]="barChartOptions"
                  [type]="barChartType"
                >
                </canvas>
              </div>
            </div>

            <br />
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">POS Sale Info</h3>
                </div>
              </div>
              <div class="card-body">
                <canvas
                  baseChart
                  class="chart"
                  [data]="doughnutChartData"
                  [type]="doughnutChartType"
                >
                </canvas>
              </div>
            </div>
          </div>

          <div class="col-lg-6 ion-padding">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Revenue</h3>
              </div>
              <div class="card-body">
                <canvas
                  baseChart
                  class="chart"
                  [data]="barChartData"
                  [options]="barChartOptions"
                  [type]="barChartType"
                >
                </canvas>
              </div>
            </div>
            <br />
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Best Selling Product</h3>
                </div>
              </div>
              <div class="card-body">
                <canvas
                  baseChart
                  class="chart"
                  [data]="productChartData"
                  [type]="productChartType"
                >
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
