ion-content.background{
    --background: none;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../../assets/image/logo23.png);
    background-color: white;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

}