<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Trash List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trash List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="arrow-undo" (click)="deleteConfirm()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <h2>Deleted Product</h2>
  <div class="columns">
    <div class="column col-12">
      <ngx-table
        [configuration]="configuration"
        [data]="data"
        (event)="eventEmitted($event)"
        #table
        [columns]="columns"
      >
      </ngx-table>
    </div>
  </div>

  <hr />

  <h2>Deleted Product Discount</h2>

  <div class="columns">
    <div class="column col-12">
      <ngx-table
        [configuration]="deletedProductDiscountConfig"
        [data]="deletedProductDiscountData"
        [columns]="deletedProductDiscountColumns"
      >
      </ngx-table>
    </div>
  </div>

  <hr />

  <h2>Deleted Price Discount</h2>
  <div class="columns priceDiscountColumn">
    <div class="column col-12">
      <ngx-table
        [configuration]="deletedPriceDiscountConfig"
        [data]="deletedPriceDiscountData"
        [columns]="deletedPriceDiscountColumns"
      >
      </ngx-table>
    </div>
  </div>
  <ng-template #productHeaderActionTemplate>
    <div class="search-template">
      <label for="filterHeaderSearch">Search Product</label>
      <input
        class="form-input"
        id="filterHeaderSearch"
        [value]="selectedProduct"
        (input)="filter('name', $event)"
        type="search"
        placeholder="Search"
      />
    </div>
  </ng-template>
</ion-content>
