<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Receipt List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Receipt List</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="columns">
    <div class="column col-12">
      <ngx-table
        [configuration]="receiptList"
        [data]="receiptListData"
        [columns]="receiptListColumns"
        [detailsTemplate]="detailsTemplate"
      >
      </ngx-table>
    </div>
  </div>
  <ng-template #detailsTemplate let-row>
    <div>
      <h2 class="color-green">Receipt Number : {{ row.id }}</h2>
      <div *ngFor="let product of row.products; let i = index">
        <ion-list>
          <ion-item>
            <div>Item {{i + 1}} :</div>
            <div class="fw-bold">{{product.name}}</div>
          </ion-item>
          <ion-item>Price : {{product.price}}</ion-item>
        </ion-list>
      </div>
    </div>
  </ng-template>
</ion-content>
