<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Receipt List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Receipt List</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="columns">
    <div class="column col-12">
      <ngx-table
        [configuration]="receiptList"
        [data]="receiptListData"
        [columns]="receiptListColumns"
        [detailsTemplate]="detailsTemplate"
      >
      </ngx-table>
    </div>
  </div>
  <ng-template #detailsTemplate let-row>
    <div>
      <h2 class="fw-bold">Receipt Number : {{ row.id }}</h2>
      <h3 class="fw-bold">Date : {{row.date}}</h3>
      <h4>POS ID : {{row.pos_name}}</h4>
      <h4 class="text-capitalize">Customer Name : {{row.username}}</h4>
      <div *ngFor="let item of receiptItemData;">
        <ion-list *ngIf="item.receipt_id == row.id">
          <ion-item>
            <div>Item :&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="fw-bold text-end">{{item.name}}</div>
          </ion-item>
          <ion-item>Quantity : &nbsp;&nbsp;&nbsp; {{item.quantity }}</ion-item>
          <ion-item>Total Price :&nbsp;&nbsp;&nbsp;${{item.price}}</ion-item>
        </ion-list>
      </div>
      <h4 class="text-end">
        Original Price : $ {{+(row.discount_total + row.total).toFixed(2)}}
      </h4>
      <h5 class="text-end">Discount : -${{row.discount_total}}</h5>
      <h4 class="fw-bold text-end">Total Price : ${{row.total}}</h4>
    </div>
  </ng-template>
</ion-content>
