ion-content.background{
    --background: none;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../../assets/image/backgroundLogo.png);
    background-color: white;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.position {
    cursor: pointer;
    font-weight: lighter;
  }
  
  .position:hover {
    background-color: #e6e6e6;
  }
  
  .level-template {
    width: 110px;
    padding: 1px 7px;
  }
  .search-template {
    width: 130px;
    padding: 7px 7px;
  }

  .columns{
margin: 0.5rem;
  }