<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      contentId="main-content"
      type="overlay"
      style="max-width: 290px !important"
    >
      <ion-content>
        <ion-item class="image-container">
          <img class="logo opacity-25" src="../../assets/image/logo23.png" />
        </ion-item>

        <ion-list id="inbox-list">
          <ion-list-header>Snow Market</ion-list-header>
          <ion-note>Admin Page</ion-note>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of adminPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [ios]="p.icon"
                [md]="p.icon"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!-- <ion-img
          class="logo position-absolute bottom-0 start-0 opacity-25"
          src="../../assets/image/logo23.png"
        ></ion-img> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
