<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Product List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Product List</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="columns">
    <div class="column col-12">
      <ngx-table
        [configuration]="configuration"
        [data]="data"
        #table
        [columns]="columns"
      >
      </ngx-table>
    </div>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ng-template #productHeaderActionTemplate>
    <div class="search-template">
      <label for="filterHeaderSearch">Search Product</label>
      <input
        class="form-input"
        id="filterHeaderSearch"
        [value]="selectedProduct"
        (input)="filter('name', $event)"
        type="search"
        placeholder="Search"
      />
    </div>
  </ng-template>
  <ng-template #brandHeaderActionTemplate>
    <div class="search-template">
      <label for="filterHeaderSearch"> Search Brand</label>
      <input
        class="form-input"
        id="filterHeaderSearch"
        [value]="selectedBrand"
        (input)="filter('brand_name', $event)"
        type="search"
        placeholder="Search"
      />
    </div>
  </ng-template>
  <ng-template #categoryHeaderActionTemplate>
    <div class="search-template">
      <label for="filterHeaderSearch"> Search Category</label>
      <input
        class="form-input"
        id="filterHeaderSearch"
        [value]="selectedCategory"
        (input)="filter('category_name', $event)"
        type="search"
        placeholder="Search"
      />
    </div>
  </ng-template>
</ion-content>
